# # Exclude environment files
# *.env
# *.env.local

# Exclude Docker-related files
Dockerfile
.dockerignore

# Exclude node modules (for Node.js applications)
node_modules/

# Exclude logs
*.log

# Exclude temporary files
*.tmp

serviceAccountKey.json

.git